img {
    width: 100%;
}
.jeux {
    width: 80%; 
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}
.container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 40%;
}
.jeux h1 {
    flex-basis: 100%;
}
.cartes {
    width: 15vh;
    height: 25vh;
    background-color: cadetblue;
    margin: 10px;
}